<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - Vehicle Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-locate.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-admin.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="side-bar">
        <h1 id="title">Tracking Panel</h1>
        <div class="panel">
            <div class="panel-box" id="total">
                <i class="fa-solid fa-users"></i>
                <h3>Total<br>Users</h3>
                <p id="total-users"> {{ total_users }}</p>
            </div>

            <div class="panel-box" id="active">
                <i class="fa-solid fa-signal"></i>
                <h3>Active<br>Users</h3>
                <p id="active-users">{{ active_users }}</p>
            </div>
        </div>

        <div class="user-table-container">
            <table id="userTable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="userTableBody"></tbody>
            </table>
        </div>
        <div class="show-container">
            <div class="show-btns">
                <button id="show-active-btn">Active Users</button>
                <button id="show-all-btn">All Users</button>
            </div>
            <button id="clear-all">Clear All</button>
            <p id="logged-in">Logged in users: 0</p>

        </div>

        <div class="bottom">
            <div class="auth">
                <a href="{{ url_for('auth.logout') }}">
                    <i class="fa-solid fa-right-from-bracket" id="logout"></i>
                </a>
                <div class="admin-tag">
                    <i class="fa-solid fa-user-shield"></i>
                    <div class="admin-name">
                        <h1>Administrator</h1>
                        <h2>{{ current_user.username }}@{{ current_user.id }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <div id="datetime-container">
        <i class="fa-solid fa-clock"></i>
        <span id="datetime"></span>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/datetime.js') }}"></script>
    <script src="{{ url_for('static', filename='js/locate.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>

</html>